.fresh-home-categories-bangumi-timeline-date {
    display: grid;
    flex-shrink: 0;
    margin-right: 8px;
    grid-template: "icon number" 18px "icon text" 22px/50px auto;
    gap: 8px;
}

.fresh-home-categories-bangumi-timeline-date-number {
    grid-area: number;
    font-size: 12px;
    align-self: end;
    margin-bottom: -6px;
}

.fresh-home-categories-bangumi-timeline-date-text {
    grid-area: text;
    font-weight: 600;
    font-size: 16px;
    align-self: start;
}

.fresh-home-categories-bangumi-timeline-season {
    --cover-size: 56px;
    scroll-snap-align: start;
    flex-shrink: 0;
    padding: 7px;
    display: grid;
    grid-template: "cover title title" 1.2fr "cover time episode" 1fr/55px auto 1fr;
    row-gap: 4px;
    column-gap: 12px;
    justify-content: start;
    align-content: center;
    align-items: center;
    width: 250px;
    transition: 0.2s ease-out;
}

.fresh-home-categories-bangumi-timeline-season-title {
    grid-area: title;
    transition: color 0.2s ease-out;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fresh-home-categories-bangumi-timeline-season-episode {
    grid-area: episode;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.64;
}

.fresh-home-categories-bangumi-timeline-season-time {
    grid-area: time;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    border: 1px solid rgba(136, 136, 136, 0.1333333333);
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: none;
    padding: 2px 6px 2px 4px;
}

.fresh-home-categories-bangumi-timeline-season-time-text {
    font-weight: 600;
    font-size: 11px;
}

.fresh-home-categories-bangumi-timeline-season-cover {
    grid-area: cover;
    width: 56px;
    height: 56px;
    box-shadow: 0 0 0 1px rgba(136, 136, 136, 0.1333333333);
    border-radius: 10px;
    overflow: hidden;
}

.fresh-home-categories-bangumi-timeline-season-cover img {
    width: 56px;
    height: 56px;
    transition: 0.2s ease-out;
}

body a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

:root {
    --main-cover-height: 185px;
    --main-cover-width: 287px;
    --other-cover-height: 100px;
    --other-cover-width: 154px;
    --main-padding-x: 18px;
    --main-padding-y: 20px;
    --cover-padding: 16px;
    --main-cover-width: 287px;
    --season-item-width: 250px;
    --season-today-width: 250px;
    --timeline-item-height: 82px;
    --timeline-today-height: 114px;
    --timeline-viewport-items-height: 524px;
    --timeline-item-gap: 11.2px;
    --timeline-viewport-height: 580px;
}

.fresh-home-rank-list .fresh-home-rank-list-laser {
    position: relative;
    align-self: center;
    flex: 1;
    width: 4px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #00a0d8 0%, rgba(0, 160, 216, 0.1) 100%);
}

.fresh-home-rank-list .fresh-home-rank-list-laser::after {
    content: attr(data-number);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    top: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #00a0d8;
    color: white;
}

.fresh-home-rank-list .fresh-home-rank-list-first-item .fresh-home-rank-list-rank-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px 14px;
}

.fresh-home-rank-list .fresh-home-rank-list-second-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    animation: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) first-animation paused both;
    position: absolute;
    top: 210px;
    bottom: 12px;
}

.fresh-home-rank-list .fresh-home-rank-list-third-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    animation: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) first-animation paused both;
    position: absolute;
    top: 340px;
    right: 12px;
    bottom: 12px;
}