@keyframes popRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10%);
    }
}

@keyframes popLeft {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10%);
    }
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.popRightArrow:hover .arrow-right {
    animation: popRight 0.5s ease-in-out forwards;
}

.popLeftArrow:hover .arrow-left {
    animation: popLeft 0.5s ease-in-out forwards;
}

.rotatingF:hover .rotatingElement {
    animation: rotateCircle 0.3s linear;
}