.fresh-home-categories {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    --fresh-home-categories-column-gap: 28px;
    --fresh-home-categories-header-gap: 12px;
}

.fresh-home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.fresh-home-header-title {
    color: var(--home-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.fresh-home-header-center-area {
    flex: 1;
    margin: 0 24px;
    display: flex;
    align-items: center;
}

.fresh-home-header-tabs .default-tabs {
    display: flex;
    padding: 6px 8px;
}

body.dark .fresh-home-header-tabs .default-tabs .default-tab {
    color: #eee;
    fill: #eee;
    stroke: #eee;
}

.fresh-home-header-tabs .default-tabs .default-tab:not(:last-child) {
    margin-right: 16px;
}

.fresh-home-header-tabs .default-tabs .default-tab {
    font-size: 14px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    color: black;
    fill: black;
    stroke: black;
}

.fresh-home-header-tabs .default-tabs .default-tab-name {
    transition: transform 0.2s ease-out;
    opacity: 0.5;
}

.fresh-home-header-tabs .default-tabs .default-tab::after {
    content: "";
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    display: block;
    height: 3px;
    border-radius: 2px;
    width: 80%;
    background-color: #00a0d8;
    transition: transform 0.2s ease-out;
    transform: translateX(-50%) scaleX(0);
}

body *,
body *:before,
body *:after {
    box-sizing: border-box;
}

.fresh-home-header-tabs .default-tabs .default-tab.selected::after {
    transform: translateX(-50%) scaleX(1);
}

.fresh-home {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.fresh-home-categories-bangumi {
    display: flex;
    align-items: stretch;
    gap: 28px;
}

.fresh-home-categories-bangumi-timeline {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 12px;
}

.fresh-home-categories-bangumi-rank-list {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 12px;
}

.fresh-home-categories-bangumi-timeline-header {
    display: flex;
    align-items: center;
    height: 26px;
    justify-content: space-between;
}

.fresh-home-sub-header {
    display: flex;
    align-items: center;
    gap: 6px;
}

.fresh-home-sub-header-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #00A0D8;
}

.fresh-home-rank-list {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 400px;
    min-height: 604px;
    height: 604px;
    padding: 12px;
    margin: calc(0px - 12px);
}

.fresh-home-rank-list .fresh-home-rank-list-first-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    animation: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) first-animation running both;
    position: absolute;
    top: 12px;
    left: 12px;
    ;
    height: calc(100% - 2 * 12px);
    width: calc(100% - 2 * 12px);
}

@keyframes first-animation {
    0% {
        transform: translateY(24px);
    }

    100% {
        transform: translateY(0);
    }
}

.cover-scale:hover img {
    transform: scale(1.05);
}

.cover-scale img {
    transition: 0.2s ease-out;
}

.cover-scale:hover {
    transform: scale(1.05);
}

.cover-scale {
    background-color: #fff;
    color: black;
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    align-self: center;
    box-shadow: none;
    overflow: hidden;
    transform-origin: bottom;
    transition: 0.2s ease-out;
    position: relative;
}

.fresh-home-rank-list .fresh-home-rank-list-cover:hover img {
    transform: scale(1.05);
}

.fresh-home-rank-list .fresh-home-rank-list-cover img {
    transition: 0.2s ease-out;
}

.fresh-home-rank-list .fresh-home-rank-list-cover:hover {
    transform: scale(1.05);
}

.fresh-home-rank-list .fresh-home-rank-list-cover {
    background-color: #fff;
    color: black;
    border-radius: 12px;
    border: 1px solid rgba(136, 136, 136, 0.1333333333);
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    align-self: center;
    box-shadow: none;
    overflow: hidden;
    transform-origin: bottom;
    transition: 0.2s ease-out;
    position: relative;
}

.fresh-home-video-slides {
    background-color: #fff;
    color: black;
    border-radius: 12px;
    border: 1px solid rgba(136, 136, 136, 0.1333333333);
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 16px;
    --main-info-padding: calc(20px + 185px - 100px - 16px);
    position: relative;
    overflow: hidden;
    padding: 20px 18px;
    height: 266px;
}

.fresh-home-categories-bangumi-timeline-item {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #fdfdfd;
    color: black;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    scroll-snap-align: start;
    overflow: hidden;
    padding: 0 4px 0 16px;
    position: relative;
    flex-shrink: 0;
}

.fresh-home-categories-bangumi-timeline-item {
    /* animation: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) first-animation running both;
    animation-delay: 0s; */
}

.fresh-home-video-slides .fresh-home-video-slides-covers {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

:root {
    --main-cover-height: 185px;
    --main-cover-width: 287px;
    --other-cover-height: 100px;
    --other-cover-width: 154px;
    --main-padding-x: 18px;
    --main-padding-y: 20px;
    --cover-padding: 16px;
    --main-cover-width: 287px;
    --season-item-width: 250px;
    --season-today-width: 250px;
    --timeline-item-height: 82px;
    --timeline-today-height: 114px;
    --timeline-viewport-items-height: 524px;
    --timeline-item-gap: 11.2px;
    --timeline-viewport-height: 580px;
}

.fresh-home-video-slides .fresh-home-video-slides-cover {
    background-color: #fff;
    color: black;
    border-radius: 12px;
    border: 1px solid rgba(136, 136, 136, 0.1333333333);
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    position: absolute;
    box-shadow: none;
    overflow: hidden;
    top: 20px;
    left: 18px;
    width: var(--other-cover-width);
    height: var(--other-cover-height);
    transition: .4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(1) {
    opacity: 0;
    transform: translateX(calc(0px - var(--other-cover-width) - var(--cover-padding)));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(2) {
    width: var(--main-cover-width);
    height: var(--main-cover-height);
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(3) {
    transform: translateX(calc(var(--main-cover-width) + var(--cover-padding)));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(4) {
    transform: translateX(calc(var(--main-cover-width) + var(--cover-padding) * 2 + var(--other-cover-width)));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(5) {
    transform: translateX(calc(var(--main-cover-width) + var(--cover-padding) * 3 + var(--other-cover-width) * 2));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(6) {
    transform: translateX(calc(var(--main-cover-width) + var(--cover-padding) * 4 + var(--other-cover-width) * 3));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(7) {
    transform: translateX(calc(var(--main-cover-width) + var(--cover-padding) * 5 + var(--other-cover-width) * 4));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(8) {
    transform: translateX(calc(var(--main-cover-width) + var(--cover-padding) * 6 + var(--other-cover-width) * 5));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(9) {
    transform: translateX(calc(var(--main-cover-width) + var(--cover-padding) * 7 + var(--other-cover-width) * 6));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:nth-child(10) {
    transform: translateX(calc(var(--main-cover-width) + var(--cover-padding) * 8 + var(--other-cover-width) * 7));
}

.fresh-home-video-slides .fresh-home-video-slides-cover:hover img{
    transform: scale(1.2);
}

.fresh-home-video-slides .fresh-home-video-slides-cover img {
    transition: 0.2s ease-out;
    width: 100%;
    height: 100%;
}

.fresh-home-video-slides .cover-placeholder-vertical {
    height: var(--other-cover-height);
    /* width: 0; */
}

.fresh-home-video-slides .fresh-home-video-slides-row {
    display: flex;
    align-items: stretch;
    gap: var(--cover-padding);
}

.fresh-home-video-slides .fresh-home-video-slides-main-info {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: var(--main-info-padding);
    width: calc(var(--main-cover-width) + var(--cover-padding) + var(--other-cover-width));
}
.fresh-home-video-slides .fresh-home-video-slides-main-description {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none !important;
    overscroll-behavior: contain;
    font-size: 13px;
    line-height: 1.5;
    opacity: 0.75;
    flex: 1;
    padding: 2px;
}

.fresh-home-video-slides .fresh-home-video-slides-main-description .description-text {
    height: 0;
    white-space: pre-wrap;
    word-break: break-word;
}

.fresh-home-video-slides .fresh-home-video-slides-actions {
    display: flex;
    align-items: stretch;
    gap: 8px;
    align-items: flex-end;
}

.be-button.light {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(136, 136, 136, 0.2666666667);
    transition: box-shadow 0.2s ease-out;
}

.be-button.icon {
    border-radius: 50%;
    padding: 4px;
    background-image: none !important;
}

.fresh-home-video-slides .fresh-home-video-slides-actions .be-button .content-container {
    opacity: 0.8;
}

.be-button .content-container {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.fresh-home-video-slides .fresh-home-video-slides-refresh-button .be-icon {
    transition-duration: 0.5s;
}

.fresh-home-video-slides .be-button .be-icon {
    transition: 0.2s ease-out;
}

.be-icon {
    color: inherit;
    fill: inherit;
    stroke: inherit;
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.mdi-refresh::before {
    content: "\F0450";
}

.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mdi-arrow-left::before {
    content: "\F004D";
}

.be-button:not(.disabled).light:hover {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 160, 216, 0.6);
}

.fresh-home-video-slides .fresh-home-video-slides-main-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}

.fresh-home-video-slides a {
    display: block;
    transition: color 0.2s ease-out;
}

body a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

.fresh-home-video-slides .fresh-home-video-slides-up-container {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    color: black;
    border-radius: 14px;
    border: 1px solid rgba(136, 136, 136, 0.1333333333);
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    height: 28px;
    border-radius: 14px;
    max-width: var(--other-cover-width);
    box-shadow: none;
    padding: 2px;
    padding-right: 8px;
}

.fresh-home-video-slides .fresh-home-video-slides-main-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    width: var(--other-cover-width);
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: 0;
}

.fresh-home-categories-bangumi-timeline-content.snap {
    scroll-snap-type: y mandatory;
}

.fresh-home-categories-bangumi-timeline-content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--timeline-item-gap);
    overflow: auto;
    scrollbar-width: none !important;
    overscroll-behavior: contain;
    height: var(--timeline-viewport-height);
    max-height: var(--timeline-viewport-height);
    flex: 1;
    animation: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) first-animation running both;
    animation-delay: 0s;
}

.fresh-home-categories-bangumi-timeline-date {
    display: grid;
    flex-shrink: 0;
    margin-right: 8px;
    grid-template: "icon number" 18px "icon text" 22px/50px auto;
    gap: 8px;
}

.fresh-home-categories-bangumi-timeline-date-number {
    grid-area: number;
    font-size: 12px;
    align-self: end;
    margin-bottom: -6px;
}

.fresh-home-categories-bangumi-timeline-date-text {
    grid-area: text;
    font-weight: 600;
    font-size: 16px;
    align-self: start;
}

.fresh-home-categories-bangumi-timeline-season {
    --cover-size: 56px;
    scroll-snap-align: start;
    flex-shrink: 0;
    padding: 7px;
    display: grid;
    grid-template: "cover title title" 1.2fr "cover time episode" 1fr/55px auto 1fr;
    row-gap: 4px;
    column-gap: 12px;
    justify-content: start;
    align-content: center;
    align-items: center;
    width: 250px;
    transition: 0.2s ease-out;
}

.fresh-home-categories-bangumi-timeline-season-title {
    grid-area: title;
    transition: color 0.2s ease-out;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fresh-home-categories-bangumi-timeline-season-episode {
    grid-area: episode;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.64;
}

.fresh-home-categories-bangumi-timeline-season-time {
    grid-area: time;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    border: 1px solid rgba(136, 136, 136, 0.1333333333);
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: none;
    padding: 2px 6px 2px 4px;
}

.fresh-home-categories-bangumi-timeline-season-time-text {
    font-weight: 600;
    font-size: 11px;
}

.fresh-home-categories-bangumi-timeline-season-cover {
    grid-area: cover;
    width: 56px;
    height: 56px;
    box-shadow: 0 0 0 1px rgba(136, 136, 136, 0.1333333333);
    border-radius: 10px;
    overflow: hidden;
}

.fresh-home-categories-bangumi-timeline-season-cover img {
    width: 56px;
    height: 56px;
    transition: 0.2s ease-out;
}

body a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

:root {
    --main-cover-height: 185px;
    --main-cover-width: 287px;
    --other-cover-height: 100px;
    --other-cover-width: 154px;
    --main-padding-x: 18px;
    --main-padding-y: 20px;
    --cover-padding: 16px;
    --main-cover-width: 287px;
    --season-item-width: 250px;
    --season-today-width: 250px;
    --timeline-item-height: 82px;
    --timeline-today-height: 114px;
    --timeline-viewport-items-height: 524px;
    --timeline-item-gap: 11.2px;
    --timeline-viewport-height: 580px;
}

.fresh-home-rank-list .fresh-home-rank-list-laser {
    position: relative;
    align-self: center;
    flex: 1;
    width: 4px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #00a0d8 0%, rgba(0, 160, 216, 0.1) 100%);
}

.fresh-home-rank-list .fresh-home-rank-list-laser::after {
    content: attr(data-number);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    top: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #00a0d8;
    color: white;
}

.fresh-home-rank-list .fresh-home-rank-list-first-item .fresh-home-rank-list-rank-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px 14px;
}

.fresh-home-rank-list .fresh-home-rank-list-second-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    animation: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) first-animation paused both;
    position: absolute;
    top: 240px;
    bottom: 12px;
}

.fresh-home-rank-list .fresh-home-rank-list-third-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    animation: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) first-animation paused both;
    position: absolute;
    top: 360px;
    right: 12px;
    bottom: 12px;
}